.content-body {
  margin-top: 125px;
  background-color: white;
}

.blog-header {
  text-align: left;
  font-family: 'Oxygen', sans-serif;
  font-size: 35px;
  background-color: white;
  height:25%;
}
