.main-container {
  text-align: center;
}
.content-body {
  margin-top: 125px;
  background-color: white;
}

.blog-header {
  text-align: left;
  font-family: 'Roboto Slab', serif;
  font-size: 50px;
  background-color: white;
  height:25%;
}
.blog-content {
  text-align: left;
}

.icons {
  margin-top: 20px;
  text-align: left;
}
